/* .header-container {
  display: flex;
  justify-content: space-between;
  color: white;
}

span {
  padding: 0.5vw;
  margin-top: 0.1em;
}

.header-container {
  color: white;
}


.marquee {
  font-size: 2em;
  position: relative;
  overflow: hidden;
  --offset: 15vw;
  move-initial: calc(-25% + var(--offset));
  --move-final: calc(-25% + var(--offset));
  color: white;
  z-index: 1;
  width: 500%;
  height: 3em;
}
.marquee__inner {
  display: flex;
  position: relative;
  animation: marquee 5s linear infinite;

  width: 300vw;
}

.marquee span {
  font-size: 3em;
  padding: 0 2vw;
  white-space: nowrap;
}

@keyframes marquee {
  0% {
    transform: translate3d(var(--move-initial), 0, 0);
  }

  100% {
    transform: translate3d(var(--move-final), 0, 0);
  }
}

@media only screen and (max-width: 600px) {
  span {
    margin-top: 0.3em;
  }

  .marquee {
    font-size: 1em;
  }
} */

.marquee {
  position: relative;
  width: 100vw;
  max-width: 500%;
  height: 206px;
  overflow-x: hidden;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.track {
  position: absolute;
  white-space: nowrap;
}

.track > h1 {
  margin: 20px 0;
  font-size: 8rem;
  color: white;

  text-transform: uppercase;
}

@media only screen and (max-width: 600px) {
  .marquee {
    margin-top: 0.3em;
  }
}
