.hero-section {
  display: flex;
  flex-direction: row;
  margin-top: 5em;
  margin-left: 3em;
  margin-bottom: 20em;
  height: 380px;
}



.hero-text {
  color: black;
  font-size: 100px;
  margin: 0;
  padding: 0;
  cursor: default;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.icons{
margin-left: -20px;
  width: 40%;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}
@media (max-width: 600px) {
  .hero-text {
    font-size: 3em;
    width: 100px;
    margin-left: -20px;
  }
  .icons{
    width: 50%;
  }
}
