.hero-section {
  display: flex;
  flex-direction: row;
  margin-top: 5em;
  margin-left: 3em;
  margin-bottom: 20em;
  height: 500px;
}

.hero-text {
  color: black;
  font-size: 10em;
  margin: 0;
  padding: 0;
  cursor: default;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

@media only screen and (max-width: 568px) {
  .hero-text {
    margin-left: -0.5em;
    font-size: 10px;
  }

  .hero-section {
    margin-bottom: 26em;
  }
}
@media only screen and (max-width: 736px) {
  .hero-text {
    margin-left: -0.5em;
    font-size: 70px;
  }

  .hero-section {
    margin-bottom: 26em;
  }
}
