.inputBox-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 2em;
  margin-top: 2em;
  width: 40vh;
  height: 20vh;
  border-radius: 10px;
  background-color: rgb(77, 76, 76);
  color: white;
  box-shadow: 10px 10px 5px black;
}

form {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.mainInputBox {
  font-size: 20px;
  max-height: 20px;
  width: 200px;
}

.mainInputBox:focus {
  outline: none;
}

.mainButton {
  margin-top: 10px;
  width: 40px;
  height: 20px;
  background-color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.mainButton:hover {
  background-color: rgb(255, 73, 73);
}

.mainButton:active {
  background-color: red;
}

.speakBox {
  margin: 20px;
}
