.works-header-section {
  display: flex;
  justify-content: center;
  position: sticky;
  background-color: black;
  height: 10vh;
  width: 100vw;
  margin: 0;
  align-items: center;
  top: 0;
}

.works-Container {
  display: flex;
  flex-direction: row;
}
.works-header {
  color: white;
}

.worksContainer-Card {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(63, 63, 63);
  height: 70vh;
  width: 30vw;
  margin: 30px;
  border-radius: 5px;
  box-shadow: 10px 10px 2px #888888;
}

.works-header-card-title {
  color: white;
}

.work-example-web {
  height: 200px;
  width: 250px;
  padding: 10px;
}

.work-example-photography {
  height: 50%;
  width: 30%;
}
