.works-header-section {
  display: flex;
  justify-content: center;
  position: sticky;
  background-color: black;
  height: 10vh;
  width: 100vw;
  margin: 0;
  align-items: center;
  top: 0;
}

.works-Container-Web {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.works-header {
  color: white;
}

/* .worksContainer-Card {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(63, 63, 63);
  height: 70vh;
  width: 30vw;
  margin: 30px;
  border-radius: 5px;
  box-shadow: 10px 10px 2px #888888;
} */

.work-example-web {
  height: 90vh;
  width: 90vw;
  padding: 10px;
}
.works-Container-Images {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.work-example-photography {
  height: 50%;
  width: 30%;
  cursor: pointer;
}

.work-example-graphics {
  height: 60%;
  width: 30%;
  cursor: pointer;
}

#likeusImg {
  height: 30%;
  width: 10%;
}
