.WDSectionHeader{
display: flex;
justify-content: center;
align-items: center;
margin: 50px;
margin-bottom: 0;
font-size: 5em;

}

.webWorksContainer{

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  
  padding: 50px;
  padding-bottom:0px;
}

.IndividualImageContainer{
  padding: 20px;
}

.ImageLabel{

  font-size: 3em;
}

.Image{
cursor: pointer;
width: 500px;
height: 300px;

}