.WDSectionHeader{
display: flex;
justify-content: center;
align-items: center;
margin: 50px;
margin-bottom: 0;
font-size: 5em;

}

.webWorksContainer{

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  
  padding: 50px;
  padding-bottom:0px;
}

.IndividualImageContainer{
  padding: 20px;
}

.ImageLabel{

  font-size: 3em;
}

.Image{
cursor: pointer;
width: 500px;
height: 300px;

}


/* iphone 8 plus */
@media only screen and (max-width: 600px) {
 
  .webWorksContainer{

    
    flex-direction: column;
   
  }

  .Image{
    cursor: pointer;
    width: 300px;
    height: 200px;
    
    }

   
    .WDSectionHeader{
    
justify-content: left;
align-items: left;
      font-size: 4em;
      text-decoration: underline;
      }

.worksText{

  font-size: 25px;
}

}