.content-section {
  display: flex;
  justify-content: space-between;
  background-color: #1a1a1a;
  height: 90vh;
  width: 100vw;
  margin: 0;
  overflow: hidden;
}


.section-text-container {
  width: 80vw;
  line-height: 3em;
  margin-top: -0.5em;
  margin-left: 0em;
}

.section-text {
  font-size: clamp(1rem, 1rem + 10vw, 3rem);
  margin-left: 1em;
  color: white;
}

@media (max-width: 600px) {
  .section-text-container {
    line-height: 2em;
  }

  .section-text {
    font-size: 16px;
  }

  .content-section {
    height: 100vh;
  }

}

@media (width: 320px) {
  .content-section {
    height: 100vh;
  }
}
