.about-me-main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.about-me-container {
  margin: 0;
  width: 100vw;
  height: 50vh;
  display: flex;
  justify-content: center;
}

.about-me-text {
  font-size: 30px;
}
.meImage {
  margin-top: 2em;
  width: 300px;
  height: 300px;
  z-index: -1;
  /* background-color: red; */
}

.about-me-section {
  font-size: 30px;
  width: 70%;
  padding-bottom: 5em;
}

.FullSailImage{

  margin-top: 6em;
}

.expand-about-me-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: black;
  font-size: 30px;
  width: 100vw;
  padding-bottom: 10em;
  color: white;
}
.expand-about-me-container {
 margin-top: 2em;
  width: 70%;
}

@media only screen and (max-width: 600px) {
  .meImage {
    padding: 2em;
  }

  .about-me-section {
    margin-top: -5em;
  }

  .about-me-text {
    font-size: 20px;
  }

  /* .meImage {
  } */
}

@media (max-width: 600px) {
  .about-me-text {
    font-size: 16px;
  }
  .about-me-container {
    margin-top: 10em;
    height: 30vh;
  }

  .meImage {
    margin-top: -12em;
  }
}

@media (max-width: 375px) and (min-width: 320px) {
  .meImage {
    margin-top: -8em;
    width: 200px;
    height: 200px;
  }
}

@media (width: 764px) {
  .meImage {
    padding: 10em;
    margin-top: -90px;
    width: 200px;
    height: 200px;
  }
}
